<html>

    <head>
        <title>Phillip's Blog </title>
    </head>


    <body>
        <div>
            <h1><a href="">Phillip's First Django Blog</a></h1>
        </div>

        <div>
            <p>publised: 5.19.16, 4:39pm</p>
            <h2><a href="">My first post</a></h2>
            <p>Django is a free and open-source web framework, written in Python, which follows the model–view–controller (MVC) architectural pattern. It is maintained by the Django Software Foundation (DSF), an independent organization established as a 501(c) non-profit.</p>
        </div>

        <div>
            <p>publised: 5.19.16, 4:39pm</p>
            <h2><a href="">My second post</a></h2>
            <p>Django's primary goal is to ease the creation of complex, database-driven websites. Django emphasizes reusability and "pluggability" of components, rapid development, and the principle of don't repeat yourself. Python is used throughout, even for settings files and data models. Django also provides an optional administrative create, read, update and delete interface that is generated dynamically through introspection and configured via admin models.</p>
        </div>

    </body>

</html>